*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
    margin: auto;
}

body{background-image:url("../images/back-fondo.jpg");}

header{background-color: rgb(27, 25, 25);}

nav ul li{font-size: 1.5rem;font-family: 'Silkscreen', cursive;background-image:url("../images/back-fondo.jpg");}

@media only screen and (max-width: 768px){
    .imgCuadro{display: none;}
    .imgIndex{display: none;}
}

/*Texto descricion servicios*/
.textoServicios{
    font-style:normal; /*estilo texto*/
    font-family:'Gill Sans MT'; /*fuente*/
    font-size: 2rem; /*tamañofuente*/
    text-align: center; /*alineacion*/
    line-height: 1.6; /*Interlineado*/
    margin: 20px;
    border: 2px;
    padding: 30px;
    color:white;
}

/*Texto descricion servicios*/
.textoForm{
    font-style:normal; /*estilo texto*/
    font-family:'Gill Sans MT'; /*fuente*/
    font-size: 1rem; /*tamañofuente*/
    color:white;
}

.bordeInternoServ{border: solid 3px white;}

.titulos{font-size: 3.5rem;font-family: 'Aboreto', cursive;color: white;}

footer{background-color: rgb(184, 175, 175);}

.formula{border: solid green; padding: 20px;}

.mainIndex{font-size: 2rem;color: orangered;}

#carousel1{}