header {
    background-image: url(../images/back-fondo.jpg);
}

nav {
    div {
        ul {
            li {
                font-size: 1.5rem;
                font-family: 'Silkscreen',
            }
        }
    }
}