$titulo:(
    colorT: $colorTitulo,
    fSize: 3.5rem,
    fFamily: 'Aboreto',
    alignT: center,
);

.color{
    &--titulo{
        color: map-get($titulo, colorT);
        font-size: map-get($titulo, fSize);
        font-family: map-get($titulo, fFamily), cursive;
        text-align: map-get($titulo, alignT);
    }
    &--texto{
        font-family: 'Gill Sans MT';
        font-size: 2rem;
        text-align: center;
        line-height: 1.6;
        margin: 20px;
        border: 2px;
        padding: 30px;
        color: $colorTexto;
    }
    &--formulario{
        font-family: 'Gill Sans MT';
        font-size: 1.3rem;
        color: $textoFormulario;
    }
}

.borde{
    &--formulario{
        border: solid green; padding: 20px;
    }
    &--servicios{
        border: solid 3px white;
    }
}
