.color{
    &--titulo{
        color: $colorTitulo;
        font-size: 3.5rem;
        font-family: 'Aboreto', cursive;
        text-align: center;
    }
    &--texto{
        font-family: 'Gill Sans MT';
        font-size: 2rem;
        text-align: center;
        line-height: 1.6;
        margin: 20px;
        border: 2px;
        padding: 30px;
        color: $colorTexto;
    }
    &--formulario{
        font-family: 'Gill Sans MT';
        font-size: 1.3rem;
        color: $textoFormulario;
    }
}

.borde{
    &--formulario{
        border: solid green; padding: 20px;
    }
    &--servicios{
        border: solid 3px white;
    }
}
