$estilosT: (
    colorT: $colorTitulo,
    fSizeTi: 3.5rem,
    fSizeTe: 2rem,
    fSizeForm: 1.3rem,
    fFamilyTi: 'Aboreto',
    fFamilyTe: 'Gill Sans MT',
    fFamilyForm: 'Gill Sans MT',
    alignT: center,
    sepLineaTe: 1.6,
    margenTe: 20px,
    bordeTe: 2px,
    paddingTe: 30px,
);

.color {
    &--titulo {
        color: map-get($estilosT, colorT);
        font-size: map-get($estilosT, fSizeTi);
        font-family: map-get($estilosT, fFamilyTi), cursive;
        text-align: map-get($estilosT, alignT);
    }

    &--texto {
        font-family: map-get($estilosT, fFamilyTe);
        font-size: map-get($estilosT, fSizeTe);
        text-align: map-get($estilosT, alignT);
        line-height: map-get($estilosT, sepLineaTe);
        margin: map-get($estilosT, margenTe);
        border: map-get($estilosT, bordeTe);
        padding: map-get($estilosT, paddingTe);
        color: $colorTexto;
    }

    &--formulario {
        font-family: map-get($estilosT, fFamilyForm);
        font-size: map-get($estilosT, fSizeForm);
        color: $textoFormulario;
    }

    &--ofertas {
        @extend .color--texto;
        color: gray;
        font-size: 1.4rem;
        text-align: start;
    }
}

.borde {
    &--formulario {
        border: solid green;
        padding: 20px;
    }

    &--servicios {
        border: solid 3px white;
    }
}

@mixin colores--h {
    background-color: rgb(39, 4, 4);
    color: skyblue;

}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @include colores--h;
}