@media only screen and (max-width: 768px) {
    .imgCuadro {
        display: none;
    }

    .imgIndex {
        display: none;
    }

    .color {
        &--titulo {
            font-size: 1.5rem;
        }

        &--texto {
            font-size: 1rem;
        }
    }

    h3 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .color--texto {
        font-size: 1rem;
    }
}