body {
    background-image: url(../images/back-fondo.jpg);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;

    &:hover {
        color: red;
    }
}